.tab-icon-overlay,
.tab-audio-button {
    pointer-events: none !important;
}

.tab-icon-overlay[activemedia-blocked],
.tab-audio-button[activemedia-blocked] {
    display: none !important;
}

.tab-close-button {
    display: none !important;
}

.tab-background[selected] {
    border-radius: 50% !important;
    border: 3px solid rgba(255, 255, 255, 0.5) !important;
    box-shadow: none !important;
}
