.tab-icon-overlay,
.tab-audio-button {
    pointer-events: none !important;
}

.tab-icon-overlay[activemedia-blocked],
.tab-audio-button[activemedia-blocked] {
    display: none !important;
}

.tab-close-button {
    display: none !important;
}

.tab-background[selected] {
    box-shadow: inset 0px 0px 2px 2px rgba(255, 255, 255, 0.5) !important;
}
